
<!-- <div id="previewDiv">
  <video id="video" playsinline autoplay></video>
</div> -->

<div id="previewDiv">
  <div id="cameraApp">
    <video id="cameraPreview" playsinline autoplay></video>
  </div>
</div>

<div id="cameraButtonRow">
  <button type="button" class="btn btn-success controlButton" (click)="cameraApp.getUserMedia()" >
    <i class="fas fa-play-circle"></i>
  </button>
  <button type="button" class="btn controlButton imageButton" (click)="cameraApp.getScreenShot()">
    <i class="fas fa-image"></i>
  </button>
  <button type="button" class="btn btn-danger controlButton" (click)="cameraApp.stopCamera()">
    <i class="fas fa-stop-circle"></i>
  </button>
</div>

<div id="captureDiv">
  <canvas id="cameraScreenshot"></canvas>
</div>

<div id="cameraButtonRow">
  <button type="button" class="btn controlButton saveButton" >
    <i class="fas fa-save"></i>
  </button>
</div>


